.idea/libraries/Gradle__androidx_annotation_annotation_1_0_0_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_0_0_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0.xml
.idea/libraries/Gradle__androidx_collection_collection_1_0_0_jar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0.xml
.idea/libraries/Gradle__androidx_core_core_1_0_0.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_0_0.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_0_0_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_0_0.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_0_0.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0.xml
